body {
    margin: 0;
    overflow: scroll;
}

#main {
    width: 100%;
    height: 100%;
}

.header {
    padding: 10px;
    color: rgba(255, 255, 255, 0.822);
    background-color: rgba(0, 0, 0, 0.311);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
    font-family: monospace;
}

a:visited, a {
    color: rgba(255, 255, 255, 0.479);
}

h1 {
    font-family: monospace;
}

.meta {
    color: white;
    font-family: monospace;
    padding: 10px;
    display: block;
    font-size: 14pt;
}

.meta > * {
    display: inline-block;
}

#filename {

}

pre {
    margin: 0;
}